# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Testing
coverage/
.nyc_output/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal

# Misc
*.log
*.cache
/src/generated/prisma
